.RecentPostContainer {
  width: 22vw;
  padding: 10px;
  background-color: white;
  margin: 20px auto;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
}
.textAlignLeft {
  text-align: left;
}
.rightButtonBox {
  width: 100%;
}
.rightButtonBox > button {
  color: gray;
}
.buttonAlignRight {
  display: block;
  border: none;
  background: transparent;
  margin-left: auto;
}
.displayFlexRecentPostContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.imageContainer {
  width: 30%;
  margin-right: 5px;
}
.image {
  width: 100%;
}
.showInlineList {
  list-style-type: disc;
}
.showInlineList li {
  display: inline;
}
.recentpostHeading {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 12px;
  text-transform: uppercase;
}
.recentPostTitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 4px;
  max-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recentSubTitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;
}
.recentSubTitle span {
  padding: 5px;
  color: gray;
}
